* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
.App header h1 {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
header {
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgb(183, 51, 95);
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button,
select {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 4px;
}
form button,
filter-todo {
  color: rgb(253, 162, 132);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover,
form select:hover {
  background: rgb(183, 51, 95);
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 2rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.todo li {
  flex: 1;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.complete-btn {
  background: rgb(248, 144, 132);
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.trash-btn {
  background: #c0124c;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.todo-item {
  padding: 0rem 0.5rem;
}
